/*
Estilo para la tabla de aula
*/
h1{
    text-align: center;
}
table{
    margin-top: 15px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
}
caption{
    padding-top: 20px;
    font-style: italic;

}
td,th{
    border: 2px solid rgb(31, 6, 255);
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}